# Images
/sample_img/
**/sample_img/
sample_img/
/sample_img
*.jpg
*.png

# Workspace
/workspace/
**/workspace/
workspace/
/workspace

# Templates
/temp/
**/temp/
temp/
/temp

# Python
/__pycache__/
**/__pycache__/
__pycache__/
/__pycache__
*.pyc

/.venv/
**/.venv/
.venv/
/.venv

/navilott_vision.egg-info/
**/navilott_vision.egg-info/
navilott_vision.egg-info/
/navilott_vision.egg-info

# Videos
/video/
**/video/
video/
/video
*.avi

# Frames
/frame/
**/frame/
frame/
/frame
*.csv

# Mock
/mock/
**/mock/
mock/

# Results
/results/
**/results/
results/
/results

# Miscellaneous
*.txt
*.zip

# Logs
/logs/
**/logs/
logs/
/logs
/specs/
**/specs/
specs/
/specs
commit_log.md