# Images
/sample_img/
**/sample_img/
sample_img/
/sample_img
*.jpg
*.png

# Workspace
/workspace/
**/workspace/
workspace/

# Templates
/temp/
**/temp/
temp/

# Python
/__pycache__/
**/__pycache__/
__pycache__/
*.pyc

# Videos
/video/
**/video/
video/
/video
*.avi

# Mock
/mock/
**/mock/
mock/

# Results
/results/
**/results/
results/
/results

# Miscellaneous
*.txt
*.zip
