# Images
/sample_img/
**/sample_img/
sample_img/
/sample_img
*.jpg
*.png

# Templates
/temp/
**/temp/
temp/

# Python
/__pycache__/
**/__pycache__/
__pycache__/
*.pyc

# Videos
/video/
**/video/
video/
/video
*.avi

# Mock and results
/mock/
**/mock/
mock/
/results/
**/results/
results/
/results
*.txt
